.cart-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}
.card {
    flex: 1 1 18rem;
    max-width: 18rem;
    margin: 0.5rem;
    box-shadow: 4px 4px 9px gray;
}
